<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MediaCollector</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Extract
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="move">
                <span class="oi oi-calendar" aria-hidden="true"></span> Move Files
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="metadata">
                <span class="oi oi-calendar" aria-hidden="true"></span> Metadata
            </NavLink>
        </div>
        <!--
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="extensions">
            <span class="oi oi-plus" aria-hidden="true"></span> Extensions
        </NavLink>
    </div>
    -->
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

